<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agency Profile</title>
  </head>
  <body>
    <h1>Agency Profile</h1>
    <img src="<%= agency.logo %>" alt="Agency Logo" />
    <p>Name: <%= agency.name %></p>
    <p>Agency Type: <%= agency.agencyType %></p>
    <p>Working Hours: <%= agency.workingHours %></p>
    <p>Certification: <%= agency.certificationStatus %></p>
    <p>wasteTypesHandled: <%= agency.wasteTypesHandled %></p>
    <p>Email: <%= agency.email %></p>
    <p>Phone: <%= agency.phone %></p>
    <p>Address: <%= agency.address %></p>
    <p>Contact Person: <%= agency.contactPerson %></p>
    <p>Region: <%= agency.region %></p>
  </body>
</html>
